@model SaloonVM
@{
    ViewData["Title"] = "ListSaloons";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListSaloons</title>
</head>

<body>
    <div style="text-align:center">
        <h2>Kayıtlı Salon Listesi</h2>
        <label>Bu sayfada kayıtlı bütün salonları görüntüleyebilir, durumlarını kontrol edebilirsiniz.</label>
        <hr />
        <label>Salon hakkında daha fazla işlem yapmak için <b>'Detayları Göster'</b> butonuna tıklayın.</label>
    </div>

    <div style="text-align:center"><h3>@TempData["ProcessCompleted"]</h3></div>

    <div class="container-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Salon ID</th>
                    <th scope="col">Salon İsmi</th>
                    <th scope="col">Seyirci Kapasitesi</th>
                    <th scope="col">Salon Durumu</th>
                    <th scope="col">İşlemler</th>

                    @*<th colspan="1" style="text-align:center">İşlemler</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Saloons)
                {
                    if (item.Status == Project.ENTITIES.Enums.DataStatus.Deleted)
                    {
                        <tr class="table-danger">
                            <th scope="row">@item.ID</th>
                            <td>@item.Name</td>
                            <td>@item.Capacity</td>
                            <td>Kapalı</td>
                            <td><a asp-controller="Saloon" asp-action="SaloonDetail" asp-route-id="@item.ID" class="btn btn-outline-secondary">Detayları Göster</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-success">
                            <th scope="row">@item.ID</th>
                            <td>@item.Name</td>
                            <td>@item.Capacity</td>
                            <td>Açık</td>
                            <td><a asp-controller="Saloon" asp-action="SaloonDetail" asp-route-id="@item.ID" class="btn btn-outline-secondary">Detayları Göster</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>

