@model SaloonVM
@{
    ViewData["Title"] = "SaloonDetail";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaloonDetail</title>
</head>

<body>

    <div style="text-align:center">
        <div>
            <h2>@Model.Saloon.Name Detay Sayfası</h2>
            <label>Bu sayfa üzerinden seçili salon hakkında daha fazla bilgi elde edebilirsiniz.</label>
        </div>
        <div>
            <div class="successMessage">
                <h5>@TempData["ProcessCompleted"]</h5>
            </div>
            <div class="errorMessage">
                <h5>@TempData["NotNullMovieError"]</h5>
                <h5>@TempData["ActiveSeanceAvailable"]</h5>
                <h5>@TempData["ActiveSeanceFound"]</h5>
            </div>
        </div>



    </div>

    <hr />
    <div class="container">
        <form asp-action="SaloonDetail" method="post" style="margin: 20px">
            <input type="hidden" asp-for="Saloon.ID" />

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3" style="text-align:center">
                        <h4>Seçili Salon Bilgileri</h4>
                        <div class="mb-2">
                            <b class="form-label">Salon ID:</b>
                            <label class="form-label">@Model.Saloon.ID</label>
                        </div>

                        <div class="mb-2">
                            <b class="form-label">Salon Adı:</b>
                            <label class="form-label">@Model.Saloon.Name</label>
                        </div>

                        <div class="mb-2">
                            <b class="form-label">Salon Kapasitesi:</b>
                            <label class="form-label">@Model.Saloon.Capacity</label>
                        </div>

                        <div class="mb-2">
                            <b class="form-label">Salon boyut türü:</b>
                            <label class="form-label">@Model.Saloon.DimensionType Filmlere Uygundur.</label>
                        </div>

                        <div class="mb-2">
                            @if (Model.Saloon.IsOpen == false)
                            {
                                <a asp-controller="Saloon" asp-action="ActivityStatusChange" asp-route-id="@Model.Saloon.ID" class="btn btn-success">Salonu Aktif Et</a>
                            }
                            else
                            {
                                <a asp-controller="Saloon" asp-action="ActivityStatusChange" asp-route-id="@Model.Saloon.ID" class="btn btn-danger">Salonu Kapat</a>
                                <a asp-controller="Saloon" asp-action="UpdateSaloon" asp-route-id="@Model.Saloon.ID" class="btn btn-primary">Salonu Güncelle</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3" style="text-align:center">
                        <h4>Gösterimde olan film bilgisi</h4>

                        @if (Model.Saloon.IsOpen != false)
                        {
                            if (Model.Saloon.Movie != null)
                            {
                                <div class="mb-1">
                                    <b class="form-label">Film Adı:</b>
                                    <label class="form-label">@Model.Saloon.Movie.Title</label>
                                </div>

                                <div class="mb-1">
                                    <b class="form-label">Vizyon Tarihi:</b>
                                    <label class="form-label">@Model.Saloon.Movie.ReleaseDate.ToLongDateString()</label>
                                </div>

                                <div class="mb-1">
                                    <b class="form-label">Süre:</b>
                                    <label class="form-label">@Model.Saloon.Movie.Duration Dakika</label>
                                </div>

                                <a asp-controller="Saloon" asp-action="RemoveMovieFromSaloon" asp-route-id="@Model.Saloon.ID" class="btn btn-danger">
                                    Atamayı Kaldır
                                </a>
                                <a asp-controller="Saloon" asp-action="AssignMovieToSaloon" asp-route-id="@Model.Saloon.ID" class="btn btn-warning">
                                    Atamayı Değiştir
                                </a>

                                <hr />

                                <div class="mb-2">
                                    <h4>Seans İşlemleri</h4>
                                    @if (Model.Saloon.Seances.Count > 0)
                                    {
                                        <label>
                                            Aktif seansları görmek için
                                            <a asp-controller="Seance" asp-action="ActiveSeancesOfSaloon" asp-route-id="@Model.Saloon.ID">buraya</a>
                                            tıklayın.
                                        </label>
                                    }
                                    else
                                    {
                                        <label>
                                            Aktif seans yok. Seans eklemek için
                                            <a asp-controller="Seance" asp-action="CreateSeance" asp-route-id="@Model.Saloon.ID">tıklayın</a>
                                        </label>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="mb-1">
                                    <b class="form-label">Şu anda yayında olan bir film bulunmamaktadır.</b>
                                </div>
                                <label>
                                    Film atamak için
                                    <a asp-controller="Saloon" asp-action="AssignMovieToSaloon" asp-route-id="@Model.Saloon.ID">tıklayın</a>
                                </label>
                            }
                        }
                        else
                        {
                            <div class="mb-1">
                                <b class="form-label">Bu salon şuan da hizmet dışıdır. Lütfen işlem yapmak için salonu aktif edin.</b>
                            </div>
                        }
                    </div>
                </div>

                <div>
                    <div style="text-align:center">

                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>