@model SeanceVM
@{
    ViewData["Title"] = "ListSeances";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListSeances</title>
</head>

<body>
    <div style="text-align:center"><h3>@TempData["ProcessCompleted"]</h3></div>
    <div style="text-align:center"><h5>@ViewBag.UserInfo</h5></div>

    <div style="margin: 10px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th colspan="2">Process</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Seances)
                {
                    <tr>
                        <th scope="row">@item.ID</th>
                        <td>@item.Date.ToLongDateString()</td>
                        <td>@item.Time</td>
                        <td><a asp-controller="Movie" asp-action="Null" asp-route-id="@item.ID" class="btn btn-primary">NULL</a></td>
                        <td><a asp-controller="Movie" asp-action="Null" asp-route-id="@item.ID" class="btn btn-danger">NULL</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

