@model MovieVM
@{
    ViewData["Title"] = "ListMovies";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListMovies</title>
</head>

<body>
    <div class="container-xxl">
        <div>
            <div style="text-align:center">
                <h1>Kayıtlı Film Listesi</h1>
                <label>Bu sayfada kayıtlı olan bütün filmleri görüntüleyebilir, güncelleme ve silme işlemleri gerçekleştirebilirsiniz.</label>
            </div>

            <div>
                <div class="successMessage"><h5>@TempData["ProcessCompleted"]</h5></div>
                <div class="errorMessage"><h5>@TempData["ErrorMessage"]</h5></div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Film Adı</th>
                    <th scope="col">Tür</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Süre</th>
                    <th scope="col">Vizyon Tarihi</th>
                    <th colspan="2">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <th scope="row">@item.ID</th>
                        <td>@item.Title</td>
                        <td>@item.Genre.Name</td>
                        <td>@item.Content</td>
                        <td>@item.Duration Dakika</td>
                        <td>@item.ReleaseDate.ToLongDateString()</td>
                        <td><a asp-controller="Movie" asp-action="UpdateMovie" asp-route-id="@item.ID" class="btn btn-primary">Güncelle</a></td>
                        <td><a asp-controller="Movie" asp-action="DeleteMovie" asp-route-id="@item.ID" class="btn btn-danger">Kaldır</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align:center"><h5>@ViewBag.UserInfo</h5></div>
</body>
</html>

